.all-employees-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .employee-card {
    background-color: #94e1a8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
  }
  
  h1 {
    margin-top: 5rem;
    color: #333;
  }
  
  h2 {
    color: #15adc5;
  }
  
  p {
    margin: 8px 0;
    color: #555;
  }
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .filter-container label {
    margin-right: 10px; /* Adjust the spacing between labels and input boxes */
  }
  
  .filter-container input {
    background-color: #c5d8dc;
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .filter-container input::placeholder {
    padding: 2px;
    margin-left: 2px;
    color: #000;
  }
  
  .filter-container button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .filter-container button:hover {
    opacity: 0.8;
  }
  
  
  